.SelectionScreen {
    background-color: #fffae4;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
    color: #352200;
    text-align: center;
}

.Link {
    text-decoration: none;
    margin: 33px;
    padding: 10px 0px; 
    width: 80%;
    height: 60px;
    border: solid #352200 4px;
    color: #352200; 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}