.SelectionScreen {
    background-color: #161515;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(24px + 2vmin);
    color: white;
    text-align: center;
}

.Link {
    text-decoration: none;
    margin: 33px;
    width: 80%;
    height: 60px;
    border: solid white 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}