.CreateScreen {
    background-color: #fffae4;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
    color: #352200;
    text-align: center;
}

.Label {
    font-weight: 900;
}

.Input {
    margin-top: 33px;
    width: 80%;
    font-size: 1em;
    text-align: center;
    color: #352200;
    caret-color: #352200;
    background-color: #fffae4;
    border: none;
    border-radius: 0;
    border-bottom: solid #352200 0.1em;
    align-self: center;
}

.Button {
    margin-top: 33px;
    padding: 10px 0px; 
    width: 80%;
    font-size: 1em;
    border: solid #352200 0.1em;
    border-radius: 15px;
    color: #352200;
    background-color: #fffae4;
}