.LoginScreen {
    background-color: #161515;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.Label {
    display: flex;
    flex-direction: column;
}

.Input {
    margin: 20px;
}